@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

/*  a, body, main, header, h1, h2, content-header, photo-tion, project-photos, nav, nav a, nav a::after, nav a:hover::after, container, header, header-2, content-1, sidebar, box-1, box-2, box-3, box-4, box-5, footer, #infinity, 

.header,
.header-2,
.content-1,
.sidebar,
"".box-1,"" 
.box-2,
.box-3,
.box-4,
.box-5,
.footer

*/


* {
  margin: 0rem;
  padding: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: normal 18px "Open Sans", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(82, 79, 79) 0%,
    rgba(60, 60, 60, 1) 50%,
    rgba(100, 100, 100, 1) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #fff;
}

main {
  min-height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



h1 {
  font: normal 4em "Playfair Display SC", serif;
  text-align: center;
}

/* h2 {
  text-align: center;
} */

.content-header {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

.photo-tion {
  border-radius: 25%;
  /* border: rgb(255, 255, 255) solid 3px; */
  box-shadow: 0.4em 0 0.4em rgba(253, 29, 29, 1),
    -0.4em 0 0.4em rgba(252, 176, 69, 1);
  /* box-shadow: 5px 10px rgba(255, 255, 255, 1)   */
  /* box-shadow: 5px 10px rgba(255, 255, 255, 1) ; */
}

.project-photos {
  border-radius: 20px;
  /* border: rgb(0, 0, 0) solid 2px; */
  box-shadow: 0.4em 0 0.4em rgba(253, 29, 29, 1),
  -0.4em 0 0.4em rgba(252, 176, 69, 1);
  justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */
  height: 200px;
  width: auto;
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

/* animation */
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1);
}

.container {
  display: grid;
  grid-template-areas:
    "header header  header header"
    "sidebar content content  box-1"
    "box-2 box-2 box-2 box-2  "
    "box-3 box-3 box-4 box-5  "
    "footer footer footer footer";
  gap: 1rem;
}

.header,
.header-2,
.content-1,
.sidebar,
/* .box-1, */
.box-2,
.box-3,
.box-4,
.box-5,
.footer {
  border: 1px #ccc solid;
  padding: 0.5 rem;
}


/* Inside of header-2 I created some animations.
   Review this code if there are things that are not responsive. */

.header-2 {
  grid-area: header;
  text-align: center;
  background-color: #333;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  /* background-color: #f3f; */
  animation-name: example1;
  animation-duration: 25s;

}

@keyframes example1 {
  from {
    background-color: rgba(131, 58, 180, 1);
  }
  to {
    background-color: rgba(252, 176, 69, 1);
  }
}
/*               /header-2 animation ending/                 */
.content-1 {
  grid-area: content;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
}

.contact-thumb-nail {
  height: 50px;
  width: 50px;
  padding: 0px;
}

.box-1 {
  grid-area: box-1;
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(82, 79, 79);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.box-2 {
  grid-area: box-2;
  background-color: #333;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.box-3 {
  grid-area: box-3;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.box-4 {
  grid-area: box-4;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.box-5 {
  grid-area: box-5;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 79, 79);
  border-radius: 5px;
  /* font-size: 24px; */
}

/* Use to create the infinity symbol */
/* #infinity {
  position: relative;
  bottom: 10px;
  width: 212px;
  height: 100px;
  box-sizing: content-box;

}
#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid red;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
} */

/* Media for device size, etc.. */
@media (max-width: 500px) {
  .container {
    grid-template-areas:
      "header"
      "box-1"
      "content"
      "box-2"
      "box-3"
      "box-4"
      "box-5"
      "sidebar"
      "footer";
  }
}

/* 

    header
     
    content 
    box-1   
    box-2
    box-3 
    box-4 
    box-5 
    sidebar 
    footer

*/